@section Scripts {
    <script>
        $(document).ready(function () {
            $('#loginBtn').click(function (e) {
                var username = $('#username').val();
                var password = $('#password').val();

                $.ajax({
                    url: '/api/auth/login',
                    type: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify({ username, password }),
                    success: function () {
                        location.href = '/Home';
                        localStorage.setItem("user", username)
                    },
                    error: function () {
                        location.href = '/Error';
                    }
                });
            });
        });
    </script>
}

<h2>Login</h2>
<div>
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" required />
</div>
<div>
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required />
</div>
<div>
    <button class="btn btn-success btn-add" id="loginBtn">Login</button>
</div>
